doctype html
html
  head
    title= "StoryTeller"
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/popper.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/bootstrap.bundle.min.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block layout
