extends layout

block content
  div.container
    h1= "Story"
    div.row
      div.col-12
        form#uploadForm(action="/story" method="post", enctype="multipart/form-data")
          div.form-group
            label(for='title')= "Titel *"
            input.form-control(type='text', name='title' placeholder='Titel', required)
          //- div.form-group
          //-   label(for='thumbnailUpload')= "Thumbnail *"
          //-   input.form-control(type='file', name='fileUpload')
          div.form-group
            label(for='storyUpload')= "Story *"
            input.form-control(type='file', name='fileUpload', multiples="false", accept=".csv", required)
          button#btnSave.btn.btn-primary(type="submit")= "Speichern"
    script.
      $("#uploadForm").on("submit", function(){
        $("#btnSave").prop("disabled", true);
      });
          
